/* Override some defaults */
html, body {
  background-image: url('/assets/bg-body.gif')
}

a.brand img {
    margin-top: 15px;
}

.container {
    margin-top: 30px;
    background-color: #fff;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

div.item img {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.container > footer {
  margin-top: 20px;
}
footer p {
  text-align: center; /* center align it with the container */
  margin-top: 10px;
}

.sidebar > .nav {
    font-size: large;
}

.sidebar {
    margin-left: 10px;
    padding-left: -10px;
}

/* .sidebar h3 { */
/*     color: #ff5619; */
/*     font-size: normal; */
/*     text-decoration: none; */
/*     margin: 0 0 0 15px; */
/* } */

.sidebar dl {
    margin: -2px 0 15px 10px;
}

.sidebar dt {
   color: #ff5619;
   font-size: normal;
   margin: 12px 0 0px 0;
}

.carousel-caption {
    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.carousel {
    margin-bottom: 0;
    
}

.content {
    padding-left: 20px;
    margin-left: -10px;
}

.page-container {
    padding-left: 15px;
    border-left: 1px solid #EEE;
    margin-bottom: 15px;
}

.page-content {
    padding-right: 15px;
    margin-right: 5px;
    height: 426px;
    overflow: auto;
}

@media print {
    .page-content {
	height: auto;
    }
}