{% if page.description %}{% endif %}
{% assign pages_list = site.pages %}
{% assign group = 'navigation' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Catherine Neish - Home</title>
    
    <meta name="author" content="Catherine Neish">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/themes/planetneish/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/themes/planetneish/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>
  <body>

    <div class="container">
      <div class="span3 sidebar">
	<a class="brand" href="/"><img src="/assets/brand.jpg"></a>
	<ul class="nav nav-pills nav-stacked">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
    <div>
	    <dt>Email:</dt>
	    <dd>cneish@uwo.ca</dd>
	    <dt>Phone:</dt>
	    <dd>(519) 661-3188</dd>
	    <dt>Mailing Address:</dt>
	    <dd>
		The University of Western Ontario<br>
		Department of Earth Sciences<br>
		1151 Richmond Street N.<br>
		London, Ontario, N6A 5B7</dd>
	    <!-- <dt>Phone</dt>
	    <dd>(443) 778-5874</dd> -->
	  </dl>

	</div>
      </div>

      <div class="span9 content">
        {{ content }}
      </div>

    </div> <!-- /container -->
    <footer>
      <p>
      © Catherine Neish 2012 | Design by <a href="https://nocko.se/">Shawn Nock</a>
      </p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
   </script>
   <script type="text/javascript">
        $().ready(function () {
                $('.carousel').carousel('cycle'); });
    </script>   
    <script>window.jQuery || document.write("<script src='/assets/jquery-1.7.1.min.js'>\x3C/script>")
    </script>
     <script src="/assets/bootstrap.min.js">
    </script>
      
    
  


</body>
</html>